<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:Context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    https://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--配置自动扫描的包 扫描 Controller-->
    <Context:component-scan base-package="com.tawe.crowd.mvc"/>

    <!--配置视图解析器-->
    <!--拼接公式→前缀+逻辑视图+后缀=物理视图-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--启用SpringMVC注解驱动-->
    <mvc:annotation-driven/>

    <!--配置基于 XML 的异常映射-->
    <!--<mvc:view-controller path="/test/testA.html" view-name="target"/>-->
    <bean id="simpleMappingExceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <!--指定异常类型和逻辑视图名称的对应关系-->
        <property name="exceptionMappings">
            <props>
                <!--Key 属性指定异常类型-->
                <!--文本标签指定对应的逻辑视图名称-->
                <prop key="java.lang.Exception">system-error</prop>
            </props>
        </property>
    </bean>

    <!--把请求地址直接与视图名称关联起来,不需要写 handler 方法了-->
    <mvc:view-controller path="/admin/to/login/page.html" view-name="admin-login"/>
    <mvc:view-controller path="/index.html" view-name="target"/>
</beans>